/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #fafafa;
    overflow-x: hidden;
}

#backgroundcolor {
    background: radial-gradient(circle, rgba(33, 33, 33, 1) 0%, rgba(9,9,11,1) 100%);
}

#background {
    background: url('/background/noise.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textPersonalized {
    -webkit-text-stroke: 0.01em white;
    color: transparent;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.slider {
    width: calc(4.5 * 100vw);
    animation-name: slide;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
}

@media screen and (min-width: 768px) {
    @keyframes slide {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .slider {
        width: calc(1.2 * 100vw);
    }
}